<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
    <table>
        <tr>
            <th>💚메뉴 번호💚</th>
            <th>🧡메뉴 이름🧡</th>
            <th>🤍메뉴 가격🤍</th>
            <th>💜카테고리 코드💜</th>
            <th>💙판매 상태💙</th>
        </tr>
        <tr>
            <td th:text="${menu.menuCode}"></td>
            <td th:text="${menu.menuName}"></td>
            <td th:text="${menu.menuPrice}"></td>
            <td th:text="${menu.categoryCode}"></td>
            <td th:text="${menu.orderableStatus}"></td>
        </tr>
    </table>
</body>
</html>